{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/ICCBS_new.jpg' %}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">WELLCOME TO AI DATACENTER</h1>
        </div>
</header>

<h1>
    <div style="text-align: center;">AIC-1</div>
</h1>
<title>Welcome to AI LABS</title>
<div style="text-align: center;"><a href="http://172.16.2.37/">Visit AI Labs!</a></div>
<meta charset="UTF-8">
</head>


{% endblock %}