{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/ICCBS_new.jpg' %}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">WELLCOME TO AI DATACENTER</h1>
        </div>
        
</header>

<h1>
    AIC-1
</h1>

{% endblock %}