{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-center" >
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/ICCBS_new.jpg' %}" alt="..." />
        <!-- Masthead Heading-->
        <div class="p-3 mb-2 bg-gradient-danger text-white"><h1 class="masthead-heading text-uppercase mb-0">WELLCOME TO AI DATACENTER</h1></div>
        </div>
</header>

<h1>
    <div style="text-align: center;">ESTABLISHMENT OF A CENTER FOR ARTIFICIAL INTELLIGENCE IN HEALTH SCIENCES
</h1>

<div style="text-align: center;">
    Opportunities for Scientific and Technological endeavours to accelerate Artificial intelligence utilizing AIC DeepOps methods.
</div>

<title>Welcome to AI LABS</title>
<div style="text-align: center;"><a href="http://172.16.2.37/"><h3>
    Visit AI Labs!
  </h3></a></div>
<meta charset="UTF-8">
</head>


{% endblock %}